# Ignore node_modules directories in any folder
node_modules/

# Ignore .env files in any folder
.env
.env*.local

# Yarn PnP files
/.pnp
.pnp.js

# Yarn install state
.yarn/install-state.gz

# Ignore coverage reports from testing
/coverage

# Next.js build output
/.next/
/out/

# Production build output
/build

# Miscellaneous files
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel configuration
.vercel

# TypeScript build info
*.tsbuildinfo
next-env.d.ts

# Specific to the client directory (if using Next.js or React)
/client/.next/
/client/build/
/client/coverage/

# Specific to the server directory (if using Node.js or Express)
/server/node_modules/
/server/.env
/server/coverage/
/server/build/

# Specific to the server springboot directory (if using Spring Boot)
/server springboot/target/
/server springboot/.env
